#contactBodyContainer {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    font-weight: 300;
    color: #232323;
}

#talkingPeopleImage {
    margin: 0 auto;
    padding: 0;
    max-height: 400px;
}

#contactHeader {
    margin-bottom: 15px;
    font-size: 19px;
}

#contactFormContainer {
    margin: 0 auto;
    max-width: 450px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.errorMessage.contact {
    margin-bottom: 5px;
}

/* Mobile screens */
@media only screen and (max-width: 500px) {
    #contactBodyContainer {
        margin-top: 10px;
    }

    #talkingPeopleImage {
        margin: 0 auto;
        padding: 0;
        max-width: 80%;
    }
}