#footerContainer {
    border: 0;
    margin: 30px 0 10px 0;
}

#footerBody {
    margin: 0 auto;
    padding: 10px 10px 5px 10px;
    max-width: 1300px;
    display: flex;
    justify-content: flex-start;
}

#footerLogoContainer {
    color: #ff3d41;
    font-size: 11px;
}

#footerLogo {
    margin-right: 5px;
    border-radius: 5px;
    font-family: 'Pacifico', cursive;
    font-size: 13px;
    color: #333333;
}

#footerLinksContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 13px;
}

.footerItem {
    border-bottom: 1px solid;
    margin-left: 10px;
    padding: 2px;
    font-weight: 300;
    color: #888888;
    border-color: #ffffff;
}

.footerItem:hover {
    color: #333333;
    border-color: #d2d2d2;
    cursor: pointer;
}