#headerContainer {
    border: 0;
}

#headerBody {
    margin: 0 auto;
    padding: 15px 10px 15px 10px;
    max-width: 1300px;
    border-bottom: 1px solid;
    border-color: #efefef;
    display: flex;
    justify-content: space-between;
}

#headerLogoContainer {
    color: #333333;
}

#headerLogo {
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-family: 'Pacifico', cursive;
    font-size: 17px;
    background-color: #4A90E2;
    color: #ffffff;
}

#headerLinksContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerItem {
    border-bottom: 1px solid;
    border-color: #ffffff;
    margin-left: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: 300;
}

.headerItem:hover {
    border-color: #d2d2d2;
    cursor: pointer;
}