body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bodyContainer {
    margin: 0 auto;
    max-width: 1300px;
}

textarea, select, input, button {
    border: 0;
    border-radius: 0;
    font-family: inherit;
    outline: none;
    -webkit-appearance: none;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 25px;
    font-weight: 300;
    color: #333333;
}

a, .link {
    text-decoration: none;
    color: inherit;
}

.errorMessage {
    max-width: 365px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #DC143C;
}

.loadingMessageContainer {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}