#optionsContainer {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    transition: all .5s ease-in-out;
}

.icon {
    cursor: pointer;
}

#categoryTypeContainer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

#subCategoriesContainer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.filterLabel {
    width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: left;
}

#storeFilterSelect {
    font-size: 16px;
}

.storeFilterOption {
    font-size: 16px;
}

#gender-select {
    min-width: 65px;
    padding: 10px;
    font-size: 13px;
    text-align: left;
}

#sort-select {
    min-width: 90px;
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.selectContainer {
    margin-right: 5px;
}

/* Mobile screens */
@media only screen and (max-width: 500px) {
    #sort-select {
        width: 40px;
    }

    #categoryTypeContainer {
        width: 97vw;
        margin-top: 7px;
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;
        overflow-x: scroll;
        box-sizing: border-box;
    }

    #subCategoriesContainer {
        width: 97vw;
        margin-top: 5px;
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;
        overflow-x: scroll;
        box-sizing: border-box;
    }
}