#productsContainer {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    box-sizing: border-box;
}

#productsHeaderContainer {
    margin-bottom: 10px;
    padding-left: 20px;
    flex: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
}

#productsCounts {
    width: 100%;
    padding-right: 10px;
    text-align: right;
    font-size: 13px;
    font-weight: 300;
}

#productsListContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Tablet screens */
@media only screen and (max-width: 700px) {
    #productsHeaderContainer {
        justify-content: space-between;
    }
}

/* Mobile screens */
@media only screen and (max-width: 500px) {
    #productsContainer {
        margin: 10 0 10px 0;
    }

    #productsHeaderContainer {
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        padding: 8px 5px 5px 5px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.26); 
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.26);
    }

    #productsListContainer {

    }

    #productsCounts {
        padding-bottom: 10px;
    }
}