.singleProduct {
    max-width: 250px;
    margin: 25px 10px 25px 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    font-weight: 300;
    transition: all .075s ease-in-out;
}

.singleProduct:hover {
    transform: scale(1.01);
}

.productImageContainer {
    max-height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.productImage {
    margin: 0 auto;
    max-width: 100%;
    max-height: 450px;
    flex: 1;
    border-radius: 5px;
}

.productItemsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.productBrand {
    width: 100%;
    margin: 2px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    color: #232323;
}

.productNameContainer {
    width: 100%;
    padding: 0 10px 3px 10px;
}

.productName {
    font-size: 13px;
    text-decoration: none;
    color: #383838;
}

.productSalePrice {
    padding: 0 10px 0 5px;
    font-size: 13px;
    font-weight: 400;
    color: #DC143C;
}

.productNormalPrice {
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    text-decoration: line-through;
}

/* Mobile screens */
@media only screen and (max-width: 500px) {
    .singleProduct {
        margin: 5px 5px 15px 5px;
        max-width: 47%;
        box-sizing: border-box;
    }

    .productImageContainer {
    }
    
    .productImage {
        margin: 0 auto;
        max-width: 100%;
        max-height: 250px;
    }

    .productBrand {
        margin-top: 2px;
        font-size: 12px;
    }
    
    .productNameContainer {
        width: 100%;
    }
    
    .productName {
        font-size: 13px;
        text-decoration: none;
        color: #383838;
    }
    
    .productSalePrice {

    }
}