#signUpContainer {
    margin: 20px 0 20px 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #333333;
    text-align: center;
    font-weight: 300;
}

#signUpTitlesContainer {
    width: 49%;
    padding: 40px;
}

#shoppingArt {
    max-height: 400px;
    margin: 10px;
}

.listItem {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

.listItemTextContainer {
}

.signUpSubTitle {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: #353535;
}

.signUpSubText {
    font-size: 15px;
}

.icon {
    height: 40px;
    margin: 10px;
}

#emailSignUpContainer {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px 15px 30px 15px;
    color: #222222;
    border-radius: 5px;
    overflow: hidden;
}

#signUpForm {
    margin-top: 15px;
}

#signUpSubmitButton:hover {
    color: #ffffff;
}

#emailSuccessMessage {
    margin-top: 40px;
    font-size: 30px;
}

/* Tablet screens */
@media only screen and (max-width: 1000px) {
    #signUpContainer {
        flex-direction: row;
    }

    #signUpTitlesContainer {
        width: 45%;
        padding: 0;
    }

    #shoppingArt {
        max-width: 50%;
        margin: 0;
        padding: 0;
    }

}

/* Mobile screens */
@media only screen and (max-width: 600px) {
    #signUpContainer {
        flex-direction: column-reverse;
    }

    #signUpTitlesContainer {
        width: 100%;
        padding: 0;
    }

    #shoppingArt {
        max-width: 85%;
        margin: 0 auto;
        padding: 0;
    }

    #signUpTitle {
        font-size: 25px;
    }
    
    #signUpSubTitle {
        font-size: 16px;
    }

    #emailSignUpContainer {
        padding: 0;
    }
}