#storesContainer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#windowShoppingArt {
    max-height: 500px;
}

#logosContainer {
    width: 48%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#storesTitle {
    width: 100%;
    text-align: center;
}

.storeLogo {
    max-height: 60px;
    padding: 20px;
}


/* Mobile screens */
@media only screen and (max-width: 1000px) {
    #storesContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #windowShoppingArt {
        
    }

    #logosContainer {
        width: 100%;
        box-sizing: border-box;
    }

    .storeLogo {
        max-width: 90%;
    }
}

/* Mobile screens */
@media only screen and (max-width: 500px) {
    #storesContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #windowShoppingArt {
        width: 90%;
    }

    #logosContainer {
        width: 100%;
        box-sizing: border-box;
    }

    .storeLogo {
        max-width: 90%;
    }
}